html, body {
    font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
    overflow: hidden;
    margin: 0;
    height: 100%;
    width: 100%;
}

.centered {
    text-align: center;
}

#prelogin-page {
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: relative;
    color: white;
}

#page-header {
    padding-top: 16%;
    margin: 0 auto;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

#pre-login {
    font-size: 20px;
}

#prelogin-page video{
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#login-btn {
    background-color: #1db954;
    border: 1px solid white;
}

#submit-btn {
    margin-top: 20px;
}

#submit-btn, #login-btn {
    width: 100px;
    height: 30px;
}

#prelogin-page h1 {
    font-size: 100px;
}

h1 {
    font-size: 60px;
}

.hidden {
    display: none;
}

#stats-page h1, #recommendation-page h1 {
    top: 10%;
    margin: 0 auto;
}

#stats-page ul, #recommendation-page ul {
    list-style: none;
    padding: 0;
}

#stats-page ul {
    font-size: 24px;
}

#stats-page ul .top-genre {
    text-transform: capitalize;
}

#stats-page li {
    margin: 1% 0;
}

#recommendation-btn {
    margin-top: 50px;
}

.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid black; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    animation: spin 1.2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#background-container {
    position: absolute;
    top: -150px;
    left: -150px;
    height: 100% + 151px;
    width: 100% + 151px;
    margin: 0;
    font-size: 0;
}

.background-box {
    height: 150px;
    width: 150px;
    border: 1px solid black;
    margin: 0;
    display: inline-block;
}

.very-close-match {
    color: #369F5E;
}

.close-match {
    color: #8BDA67;
}

.slight-match {
    color: #DFEF66;
}

.very-slight-match {
    color: #f4aa42;
}

.rec-name {
    font-size: 24px;
    font-weight: normal;

}

.rec-info {
    text-align: center;
    z-index: 1;
    opacity: 0;
    transition: opacity .4s;
    cursor: pointer;
}

#recommendation-page li {
    margin: 1% 300px;
}

#artist-recs {
    overflow: auto;
    height: 500px;
    width: auto;
}